/* 1. Paleta de colores personalizada de NERV */
$primary: #FF6600; // Naranja
$secondary: #f8f9fa; 
$light: #f8f9fa;
$dark: #343a40;

//IMPORTAR BOOSTRAP (COLORES)
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $light;
}