.card-header {
    background-color: var(--primary) !important;
    color: white;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.form-label {
    font-weight: bold;
}